img {
    width:500px;
}

.column {
    background-color: cyan;
}

.column2 {
    
    float: ;
    background-color: azure;
}

.list {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}